In [ ]:
#Table of Contents for 4.10 Initial Client Requests, Grouping by Region and Excluding Low Activity
##Importing Data
##Reviewing PI 
##Initial Client Requests: region grouping, removal of low-activity customers

In [28]:
#Importing data
##01 Importing libraries
import os
import numpy as np
import pandas as pd

In [29]:
##02 Defining "path" as a shortcut to the main Instacart folder on my desktop
path = r'/Users/emmawilcox/Desktop/InstacartGroceryBasketAnalysis'

In [30]:
##03 Importing InstacartGroceryBasketAnalysis as a dataframe, named "df_orders_products_customers_merged"
df_orders_products_customers_merged=pd.read_pickle(r'/Users/emmawilcox/Desktop/InstacartGroceryBasketAnalysis/Data/prepared data/orders_products_customers_merged.pkl')

In [31]:
#Reviewing PI 
##04 The dataframe contains PII, namely in First Name, Surname and STATE columns. 
df_orders_products_customers_merged.head()

,order_id,user_id,order_number,orders_day_of_week,time_order_placed,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,First Name,Surname,Gender,STATE,Age,date_joined,number_of_dependants,family_status,income,New Check
0,2539329,1,1,2,8,7.0,196,1,0,both,...,Linda,Nguyen,Female,Alabama,31.0,2/17/2019,3.0,married,40423.0,both
1,2539329,1,1,2,8,7.0,14084,2,0,both,...,Linda,Nguyen,Female,Alabama,31.0,2/17/2019,3.0,married,40423.0,both
2,2539329,1,1,2,8,7.0,12427,3,0,both,...,Linda,Nguyen,Female,Alabama,31.0,2/17/2019,3.0,married,40423.0,both
3,2539329,1,1,2,8,7.0,26088,4,0,both,...,Linda,Nguyen,Female,Alabama,31.0,2/17/2019,3.0,married,40423.0,both
4,2539329,1,1,2,8,7.0,26405,5,0,both,...,Linda,Nguyen,Female,Alabama,31.0,2/17/2019,3.0,married,40423.0,both

In [32]:
#Initial Client Requests: region grouping, removal of low-activity customers
##04 Grouping states into 4 regions, part 1
result1 = []

for value in df_orders_products_customers_merged["STATE"]:
 if value in ['Maine', 'New Hampshire', 'Vermont', 'Massachusets', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey' ]:
    result1.append("Northeast Region")
 elif value in ['Wisconsin', 'Michigan', 'Illnois', 'Indiana', 'Ohio', 'North Dakota','South Dakota','Nebraska','Kansas', 'Minnesota', 'Iowa', 'Missouri']:
    result1.append("Midwest Region")
 elif value in ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama']:
    result1.append("South Region")
 else:
    result1.append("West Region")

In [33]:
##05 Creating a column, "Region" and filling it with the 4 regions, part 2
df_orders_products_customers_merged['Region'] = result1

In [34]:
##06 Reviewing distribution of customers by region using .value_counts
df_orders_products_customers_merged['Region'].value_counts()

West Region         11462302
South Region         7766271
Midwest Region       6584048
Northeast Region     4812339
Name: Region, dtype: int64

In [35]:
##07 Grouping customers by whether they have placed 5 or more orders, or not, part 1
result2 = []
for value in df_orders_products_customers_merged["max_order"]:
  if value <= 5:
    result2.append("0")
  else:
    result2.append("1")

In [36]:
##08 Grouping customers by whether they have placed 5 or more orders, or not, part 2
df_orders_products_customers_merged['Activity_Level'] = result2

In [37]:
##09 Reviewing distribution of customer activity level using .value_counts
df_orders_products_customers_merged['Activity_Level'].value_counts()

1    28517248
0     2107712
Name: Activity_Level, dtype: int64

In [38]:
##10 Creating a subset of just low-activity customers
df_excluded =  df_orders_products_customers_merged[df_orders_products_customers_merged['Activity_Level']=='0']

In [39]:
##11 Confirming subset of just low-activity customers
df_excluded.shape

(2107712, 36)

In [40]:
##12 Exporting subset as a pkl, "Excluded_Low_Activity"
df_excluded.to_pickle(os.path.join(path, 'Data','Prepared Data', 'Excluded_Low_Activity.pkl'))

In [41]:
##13 Changing data type of Activity_Level
df_orders_products_customers_merged['Activity_Level'] = df_orders_products_customers_merged['Activity_Level'].astype('int64')

In [42]:
##14 Removing low activity customers from dataframe
df_orders_products_customers_merged.dropna(inplace = True)

In [43]:
##15 Checking for nulls in dataframe
df_orders_products_customers_merged.isnull().sum()

order_id                  0
user_id                   0
order_number              0
orders_day_of_week        0
time_order_placed         0
days_since_prior_order    0
product_id                0
add_to_cart_order         0
reordered                 0
_merge                    0
product_name              0
aisle_id                  0
department_id             0
prices                    0
Check                     0
price_range_loc           0
busiest_days_column       0
busiest_period_of_day     0
max_order                 0
loyalty_flag              0
mean_order                0
spending_level            0
median_order_time         0
frequency_of_customer     0
First Name                0
Surname                   0
Gender                    0
STATE                     0
Age                       0
date_joined               0
number_of_dependants      0
family_status             0
income                    0
New Check                 0
Region                    0
Activity_Level            0
dtype: int64

In [80]:
##16 Reviewing distribution of activity levels within customer base using .value_counts
df_orders_products_customers_merged['Activity_Level'].value_counts()

1    28517248
0     2107712
Name: Activity_Level, dtype: int64

In [87]:
##17 Creating a dataframe, "nolow_activity" with only customers who have placed 5 or more orders
df_nolow_activity = df_orders_products_customers_merged[df_orders_products_customers_merged['Activity_Level']== 1]

In [88]:
##18 Checking shape of that dataframe
df_nolow_activity.shape

(28517248, 36)

In [89]:
##19 Checking that only the higher activity customers are in dataframe
df_nolow_activity['Activity_Level'].value_counts()

1    28517248
Name: Activity_Level, dtype: int64

In [97]:
##20 Exporting dataframe as a pkl, "nolow_activity"
df_nolow_activity.to_pickle(os.path.join(path, 'Data','Prepared Data', 'nolow_activity.pkl'))