In [ ]:
#Table of Contents for 4.4 Wrangling for Orders, Departments, Products Datasets
##Importing Data
##Wrangling

In [1]:
#01 Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
## 02 Importing InstacartGroceryBasketAnalysis as a dataframe, named "df_orders"
df_orders=pd.read_csv(r'/Users/emmawilcox/Desktop/InstacartGroceryBasketAnalysis/Data/OriginalData/orders.csv', index_col = False)

In [3]:
## 03 Defining "path" as a shortcut to the main Instacart folder on my desktop
path = r'/Users/emmawilcox/Desktop/InstacartGroceryBasketAnalysis'

In [4]:
## 04 Importing Orders file using the new path, with no index column
df_orders = pd.read_csv(os.path.join(path, 'Data', 'OriginalData', 'orders.csv'), index_col = False)

In [5]:

## 05 Defining "vars_list" as consisting of all columns except eval_set
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

In [6]:
## 06 Importing vars_list using the path shortcut
df_orders = pd.read_csv(os.path.join(path, 'Data', 'OriginalData', 'orders.csv'), usecols = vars_list)

In [7]:
## 07 Defining "df_prods" as a dataframe just for Products file, with no index column
df_prods = pd.read_csv(os.path.join(path, 'Data', 'OriginalData', 'products.csv'), index_col = False)

In [8]:
#Wrangling
## 08 Looking for missing values in "days_since_prior_order" columnn in df_orders
df_orders['days_since_prior_order'].value_counts(dropna = False)

30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: days_since_prior_order, dtype: int64

In [9]:
##09 Renaming a column
df_orders.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [10]:
##10 Changing data type of order_id
df_orders['order_id'] = df_orders['order_id'].astype('str')

In [11]:
##11 Checking data type
df_orders['order_id'].dtype

dtype('O')

In [12]:
##12 Importing Departments file
df_dep = pd.read_csv(os.path.join(path, 'Data', 'OriginalData', 'departments.csv'), index_col = False)

In [13]:
##13 Looking at format of file
df_dep.head()

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [14]:
##14 Transposing Departments file
df_dep.T

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [15]:
##15 Makes transposing permanent
df_dep_t = df_dep.T

In [16]:
##16 Adding an index
df_dep_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [17]:
##17 Copying first row, ie "0"
new_header = df_dep_t.iloc[0]

In [18]:
##18 Checking that header is there
new_header

0    department
Name: department_id, dtype: object

In [19]:
##19 Copy everything from row 1 onward

df_dep_t_new = df_dep_t[1:]

In [20]:
##20 Checking appearance

df_dep_t_new

                  0
1            frozen
2             other
3            bakery
4           produce
5           alcohol
6     international
7         beverages
8              pets
9   dry goods pasta
10             bulk
11    personal care
12     meat seafood
13           pantry
14        breakfast
15     canned goods
16       dairy eggs
17        household
18           babies
19           snacks
20             deli
21          missing

In [21]:
##21 Use names of columns to use as a new header

df_dep_t_new.columns = new_header

In [22]:
##22 Checking appearance

df_dep_t_new

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [23]:
##23 Creating data dictionary

data_dict = df_dep_t_new.to_dict('index')

In [24]:
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [25]:
##24 Looking at Products dataframe, noting Department #19
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [26]:
##25 Using data dictionary to learn what Department #19 is

print(data_dict.get('19'))

{'department': 'snacks'}

In [27]:
##26 Creating df_snacks which consists only of Department #19 items

df_snacks =  df_prods[df_prods['department_id']==19]

In [28]:
##27 Looking at df_snacks subset
df_snacks.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5

In [29]:
##28 Looking at df_orders for unintuitive column names

df_orders.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [30]:
##29 Renaming column order_dow
df_orders.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [31]:
##30 Renaming column order_hour_of_day
df_orders.rename(columns = {'order_hour_of_day' : 'time_order_placed'}, inplace = True)

In [32]:
##31 Changing order_id datatype to string
df_orders['order_id'] = df_orders['order_id'].astype('str')

In [33]:
##32 Changing order_number datatype to string
df_orders['order_number'] = df_orders['order_number'].astype('str')

In [34]:
##33 Looking at descriptive statistics for df_orders
df_orders.describe()

,user_id,orders_day_of_week,time_order_placed,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.029782e+05,2.776219e+00,1.345202e+01,1.111484e+01
std,5.953372e+04,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.139400e+04,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.026890e+05,3.000000e+00,1.300000e+01,7.000000e+00
75%,1.543850e+05,5.000000e+00,1.600000e+01,1.500000e+01
max,2.062090e+05,6.000000e+00,2.300000e+01,3.000000e+01

In [35]:
# Client Questions
##34 The busiest (most popular) time to place an order is 10 AM
df_orders['time_order_placed'].value_counts()

10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: time_order_placed, dtype: int64

In [36]:
##35 Determing what department #4 carries
print(data_dict.get('4'))

{'department': 'produce'}

In [37]:
##36 Creating a Breakfast subset
df_breakfast =  df_prods[df_prods['department_id']==14]

In [38]:
##37 Learning how many rows Breakfast contains
df_breakfast.shape

(1116, 5)

In [39]:
##38 Printing Breakfast information for client
df_breakfast.head(1116)

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6
...,...,...,...,...,...
49330,49326,Cereal Variety Fun Pack,121,14,9.1
49395,49391,Light and Fluffy Buttermilk Pancake Mix,130,14,2.0
49547,49543,Chocolate Cheerios Cereal,121,14,10.8
49637,49633,Shake 'N Pour Buttermilk Pancake Mix,130,14,14.2
49667,49663,Ultra Protein Power Crunch Peanut Butter N' Ho...,57,14,10.2

In [40]:
##39 Creating a Dinner Party subset
df_dinnerparty = df_prods.loc[df_prods['department_id'].isin([5, 12, 7, 20])]

In [41]:
##40 Learning how many rows Dinner Party contains
df_dinnerparty.shape

(7650, 5)

In [42]:
##41 Printing Breakfast information for client
df_dinnerparty.head(7650)

,product_id,product_name,aisle_id,department_id,prices
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
6,7,Pure Coconut Water With Orange,98,7,4.4
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
16,17,Rendered Duck Fat,35,12,17.1
...,...,...,...,...,...
49676,49672,Cafe Mocha K-Cup Packs,26,7,6.5
49679,49675,Cinnamon Dolce Keurig Brewed K Cups,26,7,14.0
49680,49676,Ultra Red Energy Drink,64,7,14.5
49686,49682,California Limeade,98,7,4.3
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3

In [43]:
##42 Researching User 1 with a subset
df_userone = df_orders.loc[df_orders['user_id'] == 1]

In [44]:
##43 Researching User 1 by seeing how many orders they have placed total
df_userone.shape

(11, 6)

In [45]:
##44 Researching User 1 by determining they have possibly placed two orders in one day
df_userone.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11 entries, 0 to 10
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_id                11 non-null     object
 1   user_id                 11 non-null     int64
 2   order_number            11 non-null     object
 3   orders_day_of_week      11 non-null     int64
 4   time_order_placed       11 non-null     int64
 5   days_since_prior_order  10 non-null     float64
dtypes: float64(1), int64(3), object(2)
memory usage: 616.0+ bytes

In [46]:
##45 Researching User 1 by printing all available data on them in Orders dataframe
df_orders.head(11)

,order_id,user_id,order_number,orders_day_of_week,time_order_placed,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
5,3367565,1,6,2,7,19.0
6,550135,1,7,1,9,20.0
7,3108588,1,8,1,14,14.0
8,2295261,1,9,1,16,0.0
9,2550362,1,10,4,8,30.0
10,1187899,1,11,4,8,14.0

In [47]:
##46 Researching User 1 by printing all available data on them in Userone subset dataframe
df_userone.head(11)

,order_id,user_id,order_number,orders_day_of_week,time_order_placed,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
5,3367565,1,6,2,7,19.0
6,550135,1,7,1,9,20.0
7,3108588,1,8,1,14,14.0
8,2295261,1,9,1,16,0.0
9,2550362,1,10,4,8,30.0
10,1187899,1,11,4,8,14.0

In [48]:
##47 Researching User 1 by printing descriptive statistics, showing varied intervals of time since last ordering
df_userone.describe()

       user_id  orders_day_of_week  time_order_placed  days_since_prior_order
count     11.0           11.000000          11.000000               10.000000
mean       1.0            2.636364          10.090909               19.000000
std        0.0            1.286291           3.477198                9.030811
min        1.0            1.000000           7.000000                0.000000
25%        1.0            1.500000           7.500000               14.250000
50%        1.0            3.000000           8.000000               19.500000
75%        1.0            4.000000          13.000000               26.250000
max        1.0            4.000000          16.000000               30.000000

In [102]:
##48 Exporting wrangled orders data
df_orders.to_csv(os.path.join(path, 'Data','Prepared Data', 'orders_wrangled.csv'))

In [103]:
##49 Exporting wrangled department data
df_dep_t_new.to_csv(os.path.join(path, 'Data','Prepared Data', 'departments_wrangled.csv'))