In [1]:
#Table of Contents for 4.5 Cleaning for Orders, Products Datasets
## Importing Data
##Data Consistency checks

In [2]:
# 01 Importing Libraries
import pandas as pd
import numpy as np
import os

In [3]:
## 02 Defining "path" as a shortcut to the main Instacart folder on my desktop
path = r'/Users/emmawilcox/Desktop/InstacartGroceryBasketAnalysis'

In [4]:
## 03 Defining "df_prods" as a dataframe just for Products file, with no index column
df_prods = pd.read_csv(os.path.join(path, 'Data', 'OriginalData', 'products.csv'), index_col = False)

In [5]:
## 03 Defining "dfords" as a dataframe just for Products file, with no index column
dfords = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [6]:
## 04 Noting missing value in days_since_prior_order column
dfords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,time_order_placed,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [7]:
#05 Practice run looking for mixed type columns
# Making a sample mixed type df
df_test = pd.DataFrame()

In [8]:
#06 "mix" column created with mixed types
df_test['mix'] = ['a', 'b', 1, True]

In [9]:
#07 Script to show any mixed type columns
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [10]:
#08 Looking at mixed type column, "mix"
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [11]:
##09 Changing entire column "mix" to string type
df_test['mix'] = df_test['mix'].astype('str')

In [12]:
#Data Consistency checks
#10 Data checking of df_prods
## Looking for missing values
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [13]:
##11 Creating df_missing to show missing values in product_name column
df_missing = df_prods [df_prods['product_name'].isnull() == True]

In [14]:
##12 Looking at the 16 rows with missing product names
df_missing

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [19]:
##13 Looking at size of df_prods
df_prods.shape

(49693, 5)

In [20]:
##14 Confirming entries in df_missing
df_missing.shape

(16, 5)

In [21]:
##15 Creating a new dataframe, "df_prods_clean" which does nopt include the rows with missing values
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [22]:
##16 Checking number of rows in cleaned df
df_prods_clean.shape

(49677, 5)

In [23]:
##17 Checking for duplicates
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [24]:
##18 Five duplicates found
df_dups.shape

(5, 5)

In [25]:
##19 Looking at size of df_prods again
df_prods_clean.shape

(49677, 5)

In [26]:
##20 Dropping duplicates from df_prods_clean by creating df_prods_clean_no_dups
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [27]:
##21 Checking number of rows in cleaned df
df_prods_clean_no_dups.shape

(49672, 5)

In [28]:
##22 Exporting checked data as products_checked
df_prods_clean_no_dups.to_csv(os.path.join(path, 'Data','Prepared Data', 'products_checked.csv'))

In [30]:
#23 Client Work 
## Possible issues noted: 
## Product ids presumably contain multiple digits, and the min here is only 1. 
## The max price of $9,9999 indicates presumable outlier value or values, unless there is a wildly expensive item.
## There are 49692 rows in the df, but 49688 as the max product id created for what should be unique 
## product listings, and 49672 entries in df. 
## This does not make sense. 
df_prods_clean_no_dups.describe()

         product_id      aisle_id  department_id        prices
count  49672.000000  49672.000000   49672.000000  49672.000000
mean   24850.349775     67.762442      11.728942      9.993282
std    14340.705287     38.315784       5.850779    453.615536
min        1.000000      1.000000       1.000000      1.000000
25%    12432.750000     35.000000       7.000000      4.100000
50%    24850.500000     69.000000      13.000000      7.100000
75%    37268.250000    100.000000      17.000000     11.100000
max    49688.000000    134.000000      21.000000  99999.000000

In [56]:
## 24 Checking numbers of entries
df_prods_clean_no_dups.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49672 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int64
 3   department_id  49672 non-null  int64
 4   prices         49672 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 2.3+ MB

In [32]:
#25 Checking of Orders dataframe
## Import of wrangled orders data
Defining "df_orders" as a dataframe just for Products file, with no index column
df_orders = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [52]:
##26 Checking for mixed type columns
for col in df_orders.columns.tolist():
  weird = (df_orders[[col]].applymap(type) != df_orders[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_orders[weird]) > 0:
    print (col)

In [36]:
##27 Looking at datatypes, by column
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   order_id                int64
 2   user_id                 int64
 3   order_number            int64
 4   orders_day_of_week      int64
 5   time_order_placed       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(6)
memory usage: 182.7 MB

In [37]:
##28 Checking for missing values, finding 206209, a very large proportion of data in dataframe for this column
df_orders.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
order_number                   0
orders_day_of_week             0
time_order_placed              0
days_since_prior_order    206209
dtype: int64

In [39]:
##29 Determining the mean for "days_since_prior_order," which is 1
df_orders.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,time_order_placed,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [40]:
##30 Determining the median, which is 7
## I used the median to impute, as the mean is going to be distorted, with such a large quantity of missing data. 
## The mean of 7 days mitigates the effect of the missing data.
df_orders.median()

Unnamed: 0                1710541.0
order_id                  1710542.0
user_id                    102689.0
order_number                   11.0
orders_day_of_week              3.0
time_order_placed              13.0
days_since_prior_order          7.0
dtype: float64

In [42]:
##31 Imputing missing values with the median 
df_orders['days_since_prior_order'].fillna (7, inplace = True)

In [43]:
##32 Checking that missing values have been addressed
df_orders.isnull().sum()

Unnamed: 0                0
order_id                  0
user_id                   0
order_number              0
orders_day_of_week        0
time_order_placed         0
days_since_prior_order    0
dtype: int64

In [45]:
##33 Looking for duplicates by creating df_orders_dupes
df_orders_dupes = df_orders[df_orders.duplicated()]

In [46]:
##34 There are no dupes
df_orders_dupes.shape

(0, 7)

In [47]:
##35 Checking again that there are no duplicates
df_orders_dupes.head()

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, order_number, orders_day_of_week, time_order_placed, days_since_prior_order]
Index: []

In [ ]:
##36 Exporting cleaned orders data
df_orders.to_csv(os.path.join(path, 'Data','Prepared Data', 'orders_wrangled_cleaned.csv'))