In [ ]:
#Table of Contents for 4.6 Cleaning, Merging of Orders Products Prior Dataset
##Importing Data
##Data Constency Checks for Orders Products Prior
##Merging Orders with Orders products Prior

In [5]:
#01 Importing Libraries
import pandas as pd
import numpy as np
import os

In [6]:
## 02 Defining "path" as a shortcut to the main Instacart folder on my desktop
path = r'/Users/emmawilcox/Desktop/InstacartGroceryBasketAnalysis'

In [7]:
## 03 Importing InstacartGroceryBasketAnalysis as a dataframe, named "df_ords_prior"
df_ords_prior=pd.read_csv(r'/Users/emmawilcox/Desktop/InstacartGroceryBasketAnalysis/Data/OriginalData/order_products__prior.csv', index_col = False)

In [8]:
#Data Constency Checks
##04 Reviewing dataframe for nulls
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [9]:
df_dupes = df_ords_prior[df_ords_prior.duplicated()]

In [5]:
## 05 Reviewing columns and rows in df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
## 06 Importing InstacartGroceryBasketAnalysis as a dataframe, named "df_ords"
df_ords=pd.read_csv(r'/Users/emmawilcox/Desktop/InstacartGroceryBasketAnalysis/Data/prepared data/orders_wrangled_cleaned.csv', index_col = False)

In [7]:
## 07 Checking shape of df_ords
df_ords.shape

(3421083, 8)

In [8]:
## 08 Checking shape of df_ords_prior
df_ords_prior.shape

(32434489, 4)

In [13]:
## 09 Reviewing columns and rows in df_ords
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,time_order_placed,days_since_prior_order
0,0,0,2539329,1,1,2,8,7.0
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [10]:
##Merging Orders with Orders products Prior
## 10 Merging on order_id with inner join (only matching columns)
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [26]:
## 11 Checking matches with an outer join
df_merged_large = df_ords.merge(df_ords_prior, on = ['order_id'], how = 'outer', indicator = 'Check')

In [27]:
## 12 Indicating some data was not matched with inner join
df_merged_large['Check'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: Check, dtype: int64

In [11]:
## 13 Checking shape of new, merged data
df_merged_large.shape

(32434489, 12)

In [12]:
## 14 Reviewing merged data and using merge flag
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,time_order_placed,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,7.0,196,1,0,both
1,0,0,2539329,1,1,2,8,7.0,14084,2,0,both
2,0,0,2539329,1,1,2,8,7.0,12427,3,0,both
3,0,0,2539329,1,1,2,8,7.0,26088,4,0,both
4,0,0,2539329,1,1,2,8,7.0,26405,5,0,both

In [14]:
## 15 Using merge flag
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [24]:
## 16 Looking at counts of rows
df_merged_large.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32640698 entries, 0 to 32640697
Data columns (total 12 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0.1            int64
 1   Unnamed: 0              int64
 2   order_id                int64
 3   user_id                 int64
 4   order_number            int64
 5   orders_day_of_week      int64
 6   time_order_placed       int64
 7   days_since_prior_order  float64
 8   product_id              float64
 9   add_to_cart_order       float64
 10  reordered               float64
 11  _merge                  category
dtypes: category(1), float64(4), int64(7)
memory usage: 2.9 GB

In [20]:
## 17 Exporting as "orders_products_combined"
df_merged_large.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_combined.pkl'))