In [ ]:
#Table of Contents for 4.9 Wrangling, Cleaning and Merging for Customer Dataset
##Importing Data
##Wrangling and Cleaning
##Merging

In [1]:
##01 Importing Libraries
import os
import numpy as np
import pandas as pd

In [2]:
#02 Defining "path" as a shortcut to the main Instacart folder on my desktop
path = r'/Users/emmawilcox/Desktop/InstacartGroceryBasketAnalysis'

In [3]:
#03 Defining "df_customers" as a dataframe just for Customers file, with no index column
df_customers = pd.read_csv(os.path.join(path, 'Data', 'OriginalData', 'customers.csv'), index_col = False)

In [4]:
#Wrangling and Cleaning
##04 Looking at data in new dataset
df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [5]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [72]:
##05 Looking at summary statistics
df_customers.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [73]:
##06 Looking at size and types of data
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [74]:
##07 Looking for nulls
df_customers.isnull().sum()

user_id             0
First Name      11259
Surnam              0
Gender              0
STATE               0
Age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64

In [75]:
##08 Reviewing customer age frequency distribution
df_customers['Age'].value_counts(dropna = False)

19    3329
55    3317
51    3317
56    3306
32    3305
      ...
65    3145
25    3127
66    3114
50    3102
36    3101
Name: Age, Length: 64, dtype: int64

In [76]:
##09 Reviewing customer gender frequency distribution
df_customers['Gender'].value_counts(dropna = False).sort_index()

Female    102142
Male      104067
Name: Gender, dtype: int64

In [77]:
##10 Reviewing customer state frequency distribution
df_customers['STATE'].value_counts(dropna = False).sort_index()

Alabama                 4044
Alaska                  4044
Arizona                 4044
Arkansas                4044
California              4044
Colorado                4044
Connecticut             4044
Delaware                4044
District of Columbia    4044
Florida                 4044
Georgia                 4044
Hawaii                  4044
Idaho                   4044
Illinois                4044
Indiana                 4044
Iowa                    4044
Kansas                  4043
Kentucky                4043
Louisiana               4043
Maine                   4043
Maryland                4043
Massachusetts           4043
Michigan                4043
Minnesota               4043
Mississippi             4043
Missouri                4043
Montana                 4043
Nebraska                4043
Nevada                  4043
New Hampshire           4043
New Jersey              4043
New Mexico              4043
New York                4043
North Carolina          4043
North Dakota            4043
Ohio                    4043
Oklahoma                4043
Oregon                  4043
Pennsylvania            4043
Rhode Island            4043
South Carolina          4043
South Dakota            4043
Tennessee               4043
Texas                   4043
Utah                    4043
Vermont                 4043
Virginia                4043
Washington              4043
West Virginia           4043
Wisconsin               4043
Wyoming                 4043
Name: STATE, dtype: int64

In [78]:
##11 Reviewing customer date of joining frequency distribution
df_customers['date_joined'].value_counts(dropna = False).sort_index()

1/1/2017     159
1/1/2018     147
1/1/2019     153
1/1/2020     153
1/10/2017    192
            ...
9/8/2018     164
9/8/2019     158
9/9/2017     186
9/9/2018     174
9/9/2019     181
Name: date_joined, Length: 1187, dtype: int64

In [79]:
##12 Reviewing customer dependants frequency distribution
df_customers['n_dependants'].value_counts(dropna = False).sort_index()

0    51602
1    51531
2    51482
3    51594
Name: n_dependants, dtype: int64

In [80]:
##13 Reviewing customer family status frequency distribution
df_customers['fam_status'].value_counts(dropna = False)

married                             144906
single                               33962
divorced/widowed                     17640
living with parents and siblings      9701
Name: fam_status, dtype: int64

In [81]:
##14 Renaming a column, 1 of 3
df_customers.rename(columns = {'Surnam' : 'Surname'}, inplace = True)

In [82]:
##15 Renaming a column, 2 of 3
df_customers.rename(columns = {'n_dependants' : 'number_of_dependants'}, inplace = True)

In [83]:
##16 Renaming a column, 3 of 3
df_customers.rename(columns = {'fam_status' : 'family_status'}, inplace = True)

In [84]:
##17 Checking results of renaming
df_customers.head()

,user_id,First Name,Surname,Gender,STATE,Age,date_joined,number_of_dependants,family_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [85]:
##18 Removing nulls
df_customers_clean = df_customers[df_customers['First Name'].isnull() == False]

In [86]:
##19 Looking at new number of entries after nan removal
df_customers_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 194950 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   user_id               194950 non-null  int64
 1   First Name            194950 non-null  object
 2   Surname               194950 non-null  object
 3   Gender                194950 non-null  object
 4   STATE                 194950 non-null  object
 5   Age                   194950 non-null  int64
 6   date_joined           194950 non-null  object
 7   number_of_dependants  194950 non-null  int64
 8   family_status         194950 non-null  object
 9   income                194950 non-null  int64
dtypes: int64(4), object(6)
memory usage: 16.4+ MB

In [87]:
##20 Looking for duplicates
df_dupes = df_customers_clean[df_customers_clean.duplicated()]

In [88]:
##21 Finding no duplicates
df_dupes.shape

(0, 10)

In [89]:
##22 Looking for mixed type columns
for col in df_customers_clean.columns.tolist():
  weird = (df_customers_clean[[col]].applymap(type) != df_customers_clean[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customers_clean[weird]) > 0:
    print (col)

In [90]:
##23 Merging
## Defining "df_orders_products" as a dataframe just for orders_products_merged file, with no index column
df_orders_products=pd.read_pickle(r'/Users/emmawilcox/Desktop/InstacartGroceryBasketAnalysis/Data/prepared data/orders_products_merged49.pkl')

In [91]:
##24 Checking newly imported dataframe
df_orders_products.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32435059 entries, 0 to 32435058
Data columns (total 24 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int8
 4   time_order_placed       int8
 5   days_since_prior_order  float16
 6   product_id              int64
 7   add_to_cart_order       int8
 8   reordered               int8
 9   _merge                  category
 10  product_name            object
 11  aisle_id                float16
 12  department_id           float16
 13  prices                  float64
 14  Check                   category
 15  price_range_loc         object
 16  busiest_days_column     object
 17  busiest_period_of_day   object
 18  max_order               int64
 19  loyalty_flag            object
 20  mean_order              float64
 21  spending_level          object
 22  median_order_time       float16
 23  frequency_of_customer   object
dtypes: category(2), float16(4), float64(2), int64(5), int8(4), object(7)
memory usage: 4.0+ GB

In [45]:
##25 There are nulls in the dataframe. 
df_orders_products.isnull().sum()

order_id                      0
user_id                       0
order_number                  0
orders_day_of_week            0
time_order_placed             0
days_since_prior_order        0
product_id                    0
add_to_cart_order             0
reordered                     0
_merge                        0
product_name              30200
aisle_id                  30200
department_id             30200
prices                    35327
Check                         0
price_range_loc           30200
busiest_days_column           0
busiest_period_of_day         0
max_order                     0
loyalty_flag                  0
mean_order                    0
spending_level                0
median_order_time             0
frequency_of_customer         0
dtype: int64

In [92]:
##26 Cleaning nulls using Product Name
df_orders_products_clean = df_orders_products[df_orders_products['product_name'].isnull() == False]

In [93]:
##27 Checking remaining nulls
df_orders_products_clean.isnull().sum()

order_id                     0
user_id                      0
order_number                 0
orders_day_of_week           0
time_order_placed            0
days_since_prior_order       0
product_id                   0
add_to_cart_order            0
reordered                    0
_merge                       0
product_name                 0
aisle_id                     0
department_id                0
prices                    5127
Check                        0
price_range_loc              0
busiest_days_column          0
busiest_period_of_day        0
max_order                    0
loyalty_flag                 0
mean_order                   0
spending_level               0
median_order_time            0
frequency_of_customer        0
dtype: int64

In [94]:
##28 Cleaning nulls using Prices
df_orders_products_clean = df_orders_products[df_orders_products['prices'].isnull() == False]

In [95]:
##29 Checking for nulls again
df_orders_products_clean.isnull().sum()

order_id                  0
user_id                   0
order_number              0
orders_day_of_week        0
time_order_placed         0
days_since_prior_order    0
product_id                0
add_to_cart_order         0
reordered                 0
_merge                    0
product_name              0
aisle_id                  0
department_id             0
prices                    0
Check                     0
price_range_loc           0
busiest_days_column       0
busiest_period_of_day     0
max_order                 0
loyalty_flag              0
mean_order                0
spending_level            0
median_order_time         0
frequency_of_customer     0
dtype: int64

In [96]:
##30 Checking size of cleaned dataframe
df_orders_products_clean.shape

(32399732, 24)

In [97]:
##31 Using merge to enrich "df_orders_products_clean" with matching data: 
## first name, surname, gender, age, state, date joined, number dependants, family status, income
## Using an alternative name to "_merge," "New Check" so that an error message won't come up with indicator
df_merged = df_orders_products_clean.merge(df_customers_clean, on = ['user_id'], indicator = 'New Check')

In [98]:
##32 Checking results of merge
df_merged['New Check'].value_counts()

both          30624960
left_only            0
right_only           0
Name: New Check, dtype: int64

In [99]:
##33 Looking a newly created dataframe
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30624960 entries, 0 to 30624959
Data columns (total 34 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int8
 4   time_order_placed       int8
 5   days_since_prior_order  float16
 6   product_id              int64
 7   add_to_cart_order       int8
 8   reordered               int8
 9   _merge                  category
 10  product_name            object
 11  aisle_id                float16
 12  department_id           float16
 13  prices                  float64
 14  Check                   category
 15  price_range_loc         object
 16  busiest_days_column     object
 17  busiest_period_of_day   object
 18  max_order               int64
 19  loyalty_flag            object
 20  mean_order              float64
 21  spending_level          object
 22  median_order_time       float16
 23  frequency_of_customer   object
 24  First Name              object
 25  Surname                 object
 26  Gender                  object
 27  STATE                   object
 28  Age                     int64
 29  date_joined             object
 30  number_of_dependants    int64
 31  family_status           object
 32  income                  int64
 33  New Check               category
dtypes: category(3), float16(4), float64(2), int64(8), int8(4), object(13)
memory usage: 5.9+ GB

In [102]:
##34 Looking for nulls, finding none
df_merged.isnull().sum()

order_id                  0
user_id                   0
order_number              0
orders_day_of_week        0
time_order_placed         0
days_since_prior_order    0
product_id                0
add_to_cart_order         0
reordered                 0
_merge                    0
product_name              0
aisle_id                  0
department_id             0
prices                    0
Check                     0
price_range_loc           0
busiest_days_column       0
busiest_period_of_day     0
max_order                 0
loyalty_flag              0
mean_order                0
spending_level            0
median_order_time         0
frequency_of_customer     0
First Name                0
Surname                   0
Gender                    0
STATE                     0
Age                       0
date_joined               0
number_of_dependants      0
family_status             0
income                    0
New Check                 0
dtype: int64

In [105]:
##37 Looking at data
df_merged.describe()

,order_id,user_id,order_number,orders_day_of_week,time_order_placed,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices,max_order,mean_order,median_order_time,Age,number_of_dependants,income
count,3.062496e+07,3.062496e+07,3.062496e+07,3.062496e+07,3.062496e+07,30624960.0,3.062496e+07,3.062496e+07,3.062496e+07,30624960.0,30624960.0,3.062496e+07,3.062496e+07,3.062496e+07,30624960.0,3.062496e+07,3.062496e+07,3.062496e+07
mean,1.710742e+06,1.029796e+05,1.712424e+01,2.738079e+00,1.342524e+01,NaN,2.560221e+04,8.354753e+00,5.895051e-01,NaN,NaN,7.791916e+00,3.301272e+01,1.180777e+01,NaN,4.947346e+01,1.501709e+00,9.943934e+04
std,9.872944e+05,5.941743e+04,1.751567e+01,2.089983e+00,4.244550e+00,0.0,1.408493e+04,7.128171e+00,4.919236e-01,0.0,0.0,4.242307e+00,2.512206e+01,8.031093e+01,0.0,1.847861e+01,1.118467e+00,4.301682e+04
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.0,1.000000e+00,-1.280000e+02,0.000000e+00,1.0,1.0,1.000000e+00,3.000000e+00,1.000000e+00,0.0,1.800000e+01,0.000000e+00,2.590300e+04
25%,8.559570e+05,5.156600e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.0,1.354400e+04,3.000000e+00,0.000000e+00,31.0,4.0,4.200000e+00,1.300000e+01,7.388235e+00,6.0,3.300000e+01,1.000000e+00,6.706400e+04
50%,1.711167e+06,1.025990e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.0,2.533000e+04,6.000000e+00,1.000000e+00,83.0,9.0,7.400000e+00,2.600000e+01,7.825262e+00,7.0,4.900000e+01,2.000000e+00,9.660800e+04
75%,2.565283e+06,1.543850e+05,2.400000e+01,5.000000e+00,1.600000e+01,14.0,3.794800e+04,1.100000e+01,1.000000e+00,107.0,16.0,1.130000e+01,4.700000e+01,8.253684e+00,12.0,6.500000e+01,3.000000e+00,1.279210e+05
max,3.421082e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,30.0,4.968800e+04,1.270000e+02,1.000000e+00,134.0,21.0,2.500000e+01,9.900000e+01,2.500542e+04,30.0,8.100000e+01,3.000000e+00,5.939010e+05

In [106]:
##38 Exporting dataframe now merged as a pkl, "orders_products_customers_merged"
df_merged_clean.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_customers_merged.pkl'))